In [1]:
print("wello \nworld")

wello
world

In [2]:
isim = "vatan ozcelik"

In [3]:
isim

'vatan ozcelik'

In [4]:
isim[4]

'n'

In [5]:
isim[6]

'o'

In [7]:
isim[-2]

'i'

In [8]:
isim[3:]

'an ozcelik'

In [9]:
isim[:2]

'va'

# slicing

In [11]:
isim[2:5] * 5

'tantantantantan'

#### step size

In [13]:
isim[::2]

'vtnoclk'

In [14]:
isim[::-1] #reverse

'kileczo natav'

In [15]:
isim.capitalize()

'Vatan ozcelik'

In [16]:
isim.split()

['vatan', 'ozcelik']

In [17]:
neden = "neden,beeee , olsunduu"

In [20]:
neden.split(",")

['neden', 'beeee ', ' olsunduu']

In [21]:
neden[2]

'd'

In [22]:
listem = [32,465,67,45,23]

In [23]:
type(listem)

list

In [26]:
listem2 = [listem,isim]

In [27]:
listem2[1]

'vatan ozcelik'

In [28]:
listem

[32, 465, 67, 45, 23]

In [41]:
listem.append(1)
listem

[32, 465, 67, 45, 23, 23, 23, 1]

In [42]:
listem.pop()

1

In [43]:
listem.count(23)

3

In [44]:
listemmm = ['riza','ahmet', 'fatih', 'hannan', 'adem']

In [46]:
listemmm * 4

['riza',
 'ahmet',
 'fatih',
 'hannan',
 'adem',
 'riza',
 'ahmet',
 'fatih',
 'hannan',
 'adem',
 'riza',
 'ahmet',
 'fatih',
 'hannan',
 'adem',
 'riza',
 'ahmet',
 'fatih',
 'hannan',
 'adem']

In [47]:
nestedList = [1,4,"nedennnn",["z",45]]

In [48]:
nestedList[3][1]

45

In [49]:
type(nestedList)

list

In [50]:
nestedList[1]

4

##### key value pairing ( ANAHTAR KELIME )

In [55]:
BENIMSOZLUK = {"anahtar kelime" : "deger "}

In [56]:
type(BENIMSOZLUK)

dict

In [58]:
BENIMSOZLUK["anahtar kelime"]

'deger '

In [59]:
newDictionary = {"key1":34,"key2":["sds",32,12.2,"hsty"]}

In [60]:
newDictionary["key2"][0]

'sds'

## setler

In [62]:
newListset = [56,87,45,9,3,3,1,0,5]

In [63]:
type(newListset)

list

In [64]:
newone = set(newListset)

In [65]:
type(newone)

set

In [66]:
myset = {"a","sdsd","a"}

In [67]:
type(myset)

set

In [71]:
myset.add("key")

### tuple

In [75]:
mylisted = (23,5,"a",2)

In [76]:
mylisted

(23, 5, 'a', 2)

In [78]:
mylisted.count("a")

1

### BOOLEAN

In [79]:
myboolean = True

In [80]:
type(myboolean)

bool

In [82]:
myLIST = [1212,34,34,6556,6768,545]
sum(myLIST)

15149

### if clause

In [86]:
myhero = input("my super hero: ")

my super hero: volverin

In [87]:
if myhero == "Batman":
    print("batman airport")
elif myhero == "iron man":
    print("ayrilin")
else:
    print("yolverin")

yolverin

In [88]:
dictionary = {"banana":222,"orange":333,"cerry":444}

In [92]:
if 222 in dictionary.values():
    print("yeah")

yeah

In [95]:
newstring = "atilla ilhan"

In [96]:
for i in newstring:
    print(i)

a
t
i
l
l
a

i
l
h
a
n

In [97]:
mytuple = (1,2,3,4,5)

In [98]:
for stuff in mytuple:
    print(stuff)

1
2
3
4
5

In [102]:
for numara in mytuple:
    if numara == 4:
        break
    print(numara)

1
2
3

In [104]:
newnumber = 0
while newnumber < 15:
    print(f"new number : {newnumber}")
    newnumber = newnumber + 1

new number : 0
new number : 1
new number : 2
new number : 3
new number : 4
new number : 5
new number : 6
new number : 7
new number : 8
new number : 9
new number : 10
new number : 11
new number : 12
new number : 13
new number : 14

## range

In [105]:
range(15)

range(0, 15)

In [106]:
list(range(22))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [109]:
list(range(5,26,4))

[5, 9, 13, 17, 21, 25]

## enumerate

In [112]:
index = 0
for number in enumerate(list(range(10,210,35))):
    print(f"update number : {number}")

update number : (0, 10)
update number : (1, 45)
update number : (2, 80)
update number : (3, 115)
update number : (4, 150)
update number : (5, 185)

## random

In [126]:
from random import randint
randint(0,100)
newlist = list(range(0,9))

In [129]:
newlist[randint(2,7)]

4

In [130]:
from random import shuffle

In [131]:
shuffle(newlist)

In [132]:
newlist

[4, 5, 8, 7, 0, 2, 6, 1, 3]

# functions

In [7]:
braveheart = "vatan ozcelik"

In [8]:
braveheart.upper()

'VATAN OZCELIK'

In [9]:
def function():
    print("neden fatma: ")

In [11]:
def helloworld(printedname):
    print("helloworld")
    print(printedname)

In [12]:
helloworld("sadads")

helloworld
sadads

In [14]:
def returnadd(num, num2):
    return num
result = returnadd(22,34)

# args & kwargs

In [18]:
## if u dont know how many args use them
def newadd(*args):
    return sum(args)
### type return tuple
### type print none
newadd(324,456,67,987,32,54,43)

1963

In [19]:
def example(**kwargs):
    return(kwargs)
example(banana=43,cherry=344)

{'banana': 43, 'cherry': 344}

In [20]:
def device(number):
    return number / 2
device(4567)

2283.5

In [22]:
mylist=[34,7,8,34,6567,86]
my = []
for i in mylist:
    my.append(device(i))
my

[17.0, 3.5, 4.0, 17.0, 3283.5, 43.0]

In [23]:
### OR by MAP
list(map(device,mylist))

[17.0, 3.5, 4.0, 17.0, 3283.5, 43.0]

In [24]:
def controlfunc(string):
    return "a" in string
"a" in "ahmet"

True

In [25]:
controlfunc("sadfafdgsfg")

True

In [26]:
stringlist = ["sad","sdfsdf","dfsdfsg","hyjutyjyt","grgrthrt"]

In [28]:
result  = list(map(controlfunc,stringlist))

In [29]:
result.count(False)

4

In [31]:
list(filter(controlfunc,stringlist))
### name of true

['sad']

In [32]:
## lambda
multi = lambda multi : multi * 5

In [33]:
multi(34)

170

In [34]:
listtt = [34,64,7,12]

In [35]:
list(map(lambda multi : multi * 6, listtt))

[204, 384, 42, 72]

## scope

In [36]:
number = 20
def multi(num):
    number=10
    return num * number
multi(4)

40

### local, enclosing, global, built in

In [39]:
myname = "vatan"
# global
def myfunc():
    myname = "fatih"
    # enclosing
    def icfonc():
        myname = "riza"
        # local
        print(myname)
    icfonc()
myfunc()

riza

# calculator

In [ ]:
while True:
    try:
        a = int(input("first number: "))
        b = int(input("second number: "))
        process = input("process: ")
        print(calculator(a,b,process))
    except:
        print("mantikli seyelrden bahsedelim:")
def calculator(x,y,z):
    if z == "+":
        return (str(a) +" + " +str(b) + " = "+ str(a+b))
    ### if .....

first number: 44
second number: dfa
mantikli seyelrden bahsedelim:
first number: 121
second number: fgdfgdf
mantikli seyelrden bahsedelim:
first number: 12343354
second number: 45465787
process: +
12343354 + 45465787 = 57809141
mantikli seyelrden bahsedelim:
first number: 43456475675
second number: 6545756867908
process: +
43456475675 + 6545756867908 = 6589213343583
first number: fdadf
mantikli seyelrden bahsedelim:
mantikli seyelrden bahsedelim: